<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title> Destination Buddies </title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Acss/assets/img/favicon.png" rel="icon">
    <link href="~/Acss/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link rel="icon" type="image/png" href="~/Acss/images/logo.png">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Acss/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Acss/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/Acss/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Acss/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/Acss/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/Acss/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Acss/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Acss/assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="~/Acss/index.html" class="logo d-flex align-items-center">
                <img src="~/Acss/assets/img/logo.png" alt="">
                <span class="d-none d-lg-block"> Destination Buddies </span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

     

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

              

             

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="~/Acss/#" data-bs-toggle="dropdown">
                        <img src="~/Acss/assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">Kartik</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Kartik</h6>
                            <span>Web Designer</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="@Url.Action("adminLogout","admin")">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a class="nav-link " href="@Url.Action("index","admin")">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->

          

        
            <li class="nav-heading">Bookings</li>

           

            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("showuser","admin")">
                    <i class="bx bxs-user-circle"></i>
                    <span>All Users</span>
                </a>
            </li><!-- End F.A.Q Page Nav -->


            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("shiowBus","admin")">
                    <i class="ri-bus-2-line"></i>
                    <span>Bus Bookiing</span>
                </a>
            </li><!-- End F.A.Q Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("showtarin","admin")">
                    <i class="ri-train-line"></i>
                    <span>Train Booking</span>
                </a>
            </li><!-- End Contact Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("showflight","admin")">
                    <i class="ri-flight-land-line"></i>
                    <span>Flight Booking</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("showtrip","admin")">
                    <i class="bx bx-trip"></i>
                    <span>All Trips</span>
                </a>
            </li>


            <li class="nav-item">
                <a class="nav-link collapsed" href="@Url.Action("showcontact","admin")">
                    <i class="ri-contacts-line"></i>
                    <span>All Contacts</span>
                </a>
            </li>
            
            <!-- End Register Page Nav -->

          @*   <li class="nav-item">
                <a class="nav-link collapsed" href="~/Acss/pages-login.html">
                    <i class="bi bi-box-arrow-in-right"></i>
                    <span>Login</span>
                </a>
            </li><!-- End Login Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="~/Acss/pages-error-404.html">
                    <i class="bi bi-dash-circle"></i>
                    <span>Error 404</span>
                </a>
            </li><!-- End Error 404 Page Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="~/Acss/pages-blank.html">
                    <i class="bi bi-file-earmark"></i>
                    <span>Blank</span>
                </a>
            </li><!-- End Blank Page Nav --> *@

        </ul>

    </aside><!-- End Sidebar-->

 
    <!-- ======= Footer ======= -->
    @RenderBody()

    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><span>Destination Buddies </span></strong>. All Rights Reserved
        </div>
      
    </footer><!-- End Footer -->

    <a href="~/Acss/#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/Acss/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/Acss/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Acss/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/Acss/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/Acss/assets/vendor/quill/quill.js"></script>
    <script src="~/Acss/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/Acss/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/Acss/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/Acss/assets/js/main.js"></script>

</body>

</html>